@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --ff-heading: 'Epilogue', sans-serif;
    --hue: 250;
    --bg-primary: hsl(var(--hue), 22%, 20%);
    --fc-primary: hsl(var(--hue), 0%, 100%);
    --fc-secondary: hsl(var(--hue), 50%, 80%);
    --fc-secondary-dark: hsl(var(--hue), 100%, 11%);

    --fs-heading: 4rem;

    font-size: 62.5%;
}

body {
    background-color: var(--bg-primary);
    color: var(--fc-primary);
    font-family: var(--ff-heading);

    font-size: 1.6rem;
}

.page {
    max-width: 33rem;
    margin: auto;
    padding: 2rem;
}

img {
    width: 100%;
}
header {
    text-align: center;
    margin: 10rem 0;
}
header p {
    color: var(--fc-secondary);
    text-transform: uppercase;

    letter-spacing: 3px;
    margin-bottom: 1.7rem;
    line-height: 3.2rem;
    font-weight: 400;
}

header h1 {
    font-size: var(--fs-heading);
    line-height: 4.8rem;
    font-weight: 800;
}
main {
    display: grid;
    gap: 3.2rem;
    margin-bottom: 22rem;
}
.card {
    position: relative;
}
.card:hover img {
    transform: scale(1.05);
    opacity: .5;
}
.card img {
    height: 41.6rem;
    object-fit: cover;
    border-radius: 6px;

    transition: all .2s ease-in-out;

    filter: brightness(0.7) saturate(1.5);
}

.card h2 {
    position: absolute;
    bottom: 5.2rem;
    left: 2.8rem;
}

.card h2 span {
    border-radius: 2rem;
    background-color: var(--fc-primary);
    color: var(--fc-secondary-dark);
    font-weight: 400;
    font-size: 1.6rem;
    padding: 0 1.6rem;
    height: 3.8rem;
    display: inline-flex;
    align-items: center;
    width: fit-content;
}

.card h2 {
    font-weight: 800;
    font-size: 3rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header p{
    animation: topdown 700ms;
}
header h1 {
    animation: topdown 700ms 700ms backwards;
}
main .card:nth-child(1){
    animation: leftright 1400ms 1400ms backwards;
}

main .card:nth-child(2) {
    animation: rightleft 1400ms 2100ms backwards;
}

main .card:nth-child(3) {
    animation: leftright 1400ms 2800ms backwards;
}

main .card:nth-child(4) {
    animation: rightleft 1400ms 3400ms backwards;
}
@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes downtop {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes leftright {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes rightleft {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@media (min-width: 930px) {
    header h1 {
        font-size: 5.2rem;
    }
    main {
        grid-template-areas:
        'A B B'
        'C C D';
        grid-template-columns: '1fr 1fr 1fr';
    }
    main .card:nth-child(1) {
        grid-area: A;
    }
    main .card:nth-child(2) {
        grid-area: B;
    }
    main .card:nth-child(3) {
        grid-area: C;
    }
    main .card:nth-child(4) {
        grid-area: D;
    }
}

@media (min-width: 768px) {
    .page {
        max-width: 117rem;
        padding: 0 13.5rem;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }

    .card h2 {
        font-size: 2.25rem;
    }
}